Repository project-koku/hansei, pull requests merged in 2018-06, with the labels that each got.

#20 [WIP]Koku object refactor
  kokuqe/api.py
  kokuqe/koku_models.py
  kokuqe/tests/api/conftest.py
  kokuqe/tests/api/test_client.py
  kokuqe/tests/api/v1/test_customer.py
  kokuqe/tests/api/v1/test_service_admin.py
  kokuqe/tests/api/v1/test_user.py
Labels: api

#25 Add the koku server api version and git commit to pytest report and xml
  hansei/tests/conftest.py
Labels: enhancement

#24 [RFR] Verify that upon customer deletion, associated users and providers are also deleted
  hansei/api.py
  hansei/koku_models.py
  hansei/tests/api/conftest.py
  hansei/tests/api/v1/test_customer.py
Labels: api, new-test

#33 [RFR]Add KokuBaseReport & KokuCostReport to koku_models
  hansei/constants.py
  hansei/koku_models.py
Labels: api
